body {
  background-color: rgb(119, 68, 68);
  font-family: roboto;
}

h1 {
  text-align: center;
}

#food-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.food-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  border: 2px solid #000000;
  /* border-radius: 8px; */
}

.food-card p {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}


.food-card img {
  width: 100%;
  height: auto;
}