<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cute Homepage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>My Interests!</h1>
    <div class="nav-links">
      <a href="/cooking" class="button" id="cooking">Cooking</a>
      <a href="/nature" class="button" id="nature">Nature</a>
      <a href="/music" class="button" id="music">Music</a>
      </div>
    </div>
</body>
</html>